/*-----box-sizing-----*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*-----RESET CSS-----*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 80%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----my code-----*/

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

#carousel {
  width: 400px;
  height: 300px;

  border: 2px solid #444;
  border-radius: 20px;
  /* overflow: hidden; */

  position: relative;
  display: flex;
  justify-content: space-between;
}

#slides {
  width: 2000px;
  display: flex;

  position: absolute;
}

#slides li {
  width: 400px;
  height: 300px;
  list-style: none;
}

.btn {
  position: relative;
  width: 25%;
  font-size: 25px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: transparent;

  transition: 3s; /* Niestety nie działa na gradient */
}


#js-btn-left {
  text-align: left;
  padding-left: 20px;
}

#js-btn-right {
  text-align: right;
  padding-right: 20px;
}

#js-btn-left:hover {
  background: linear-gradient(to right, rgba(30,30,30,1) 0%,rgba(30,30,30,0) 80%);
}

#js-btn-right:hover {
  background: linear-gradient(to left, rgba(30,30,30,1) 0%,rgba(30,30,30,0) 80%);
}

#slides-nav {
  width: 730px;
  height: 400px;
  padding-top: 28px;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  left: calc((400px - 730px)/2);
  top: calc(400px - 180px);

  border-radius: 50%;
  z-index: 10;
}

#slides-nav:hover {
  background: radial-gradient(ellipse at center, rgba(30,30,30,1) 0%,rgba(30,30,30,1) 44%,rgba(30,30,30,0) 66%,rgba(30,30,30,0) 100%)
}

#slides-nav li {
  width: 12px;
  height: 12px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}